<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors</title>
</head>
<body>
    <h1>All Doctors</h1>

    <!-- Link to add a new doctor -->
    <div>
        <a href="/doctors/new">Add Doctor</a>
    </div>


    <ul>
        <% for(let doc of doctors){%>
            <li><a href="/doctors/<%= doc._id%>">  <%= doc.name%>  </a> </li>
        <% } %> 
    </ul>



</body>
</html>