<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Doctor</title>
</head>
<body>


    <form action="/doctors" method="POST">
        <div>
            <label for="name">Doctor Name</label>
            <input type="text" id="name" name="doctor[name]">
        </div>
        
        <button>Submit Doctor</button>
    </form>
    
    <!-- Link to all doctors - Index Page -->
    <a href="/doctors">Back to all Doctors</a>


</body>
</html>