<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1> <%= doctor.name %> </h1>

    <p>
        <a href="/doctors/<%= doctor._id %>/edit">Edit</a> <!-- Link to edit doctor -->
    </p>

    <!-- Delete Form -->
    <p>
        <form action="/doctors/<%= doctor._id %>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </p>


    <footer>
        <a href="/doctors"> Back to all Doctors</a>    <!-- Link to go back  -->
    </footer>
</body>
</html>